## git ignore file list 

# Maven
target/
*.ser

# web
*.war

# idea project
.idea/
out/
*.ipr
*.iws
*.iml

# eclipse project
.classpath
.project
.metadata
.settings/
.launch
.externalToolBuilders

# vi
*.swp

# mac 
.DS_Store

# java
*.class

# svn
.svn/
